{% extends "base.html" %}

{% block meio %}

<h1>Lista de Produtos</h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Produtos</th>
        <th scope="col">1</th>
        <th scope="col">Qnt</th>
        <th scope="col">Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>John</td>
        <td>Doe</td>
        <td>@social</td>
      </tr>
    </tbody>
  </table>

{% endblock %}